<mat-toolbar style="display: block" *ngIf="reservationByDate && reservationByDate.length > 0">
  <h1 class="align-center"> Data: {{reservationByDate[0].date | date: 'shortDate'}}</h1>
  <div *ngFor="let reservation of reservationByDate;">
    <mat-toolbar-row [ngClass]="getClassName(reservation)" class="row">
      <span>Od {{reservation.timeFrom }}</span>
      <span class="spacer"></span>
      <span>Do {{reservation.timeTo }}</span>
      <span class="spacer"></span>
      <span> {{reservation.status | transformReservationStatus}}</span>
      <mat-icon class="clickable-icon" *ngIf="reservation.status === reservationStatuses.AVAILABLE && accessToRemove" (click)="removeReservation(reservation)">delete</mat-icon>
      <mat-icon class="clickable-icon" *ngIf="reservation.status === reservationStatuses.CLOSED && accessToDetails" (click)="detailsClicked(reservation)">description</mat-icon>
      <mat-icon class="clickable-icon" *ngIf="reservation.status === reservationStatuses.AVAILABLE && accessToReservation" (click)="reservationClicked(reservation)">queue</mat-icon>
    </mat-toolbar-row>
  </div>
</mat-toolbar>
