<div class="content" role="main">

  <mat-accordion class="accordeon-headers-align">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Dodawanie nowych terminów
        </mat-panel-title>
        <mat-panel-description>
          Tu możesz dodać nowe terminy, które będą widoczne dla innych użytkowników
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-admin-reservation-management></app-admin-reservation-management>

    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Przeglądaj wizyty
        </mat-panel-title>
        <mat-panel-description>
          Tu możesz przeglądnąć wszystkie wizyty
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-admin-reservation-overview></app-admin-reservation-overview>

    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Zarządzanie odbytymi rezerwacjami
        </mat-panel-title>
        <mat-panel-description>
          Tu możesz zostawić dodatkowe dane do odbytych wizyt z ostatniego miesiąca
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-admin-reservation-note-management></app-admin-reservation-note-management>

    </mat-expansion-panel>

  </mat-accordion>


</div>
