<div class="content" role="main">

  <div class="reservation-bar">
    <div *ngIf="reservationModel" [ngClass]="getClassName(reservationModel)" class="row">
      <span class="spacer"></span>
      <span><strong> Data: {{reservationModel.date | date: 'shortDate' }} </strong> </span>
      <span class="spacer"></span>
      <span><strong> Godzina rozpoczęcia: {{reservationModel.timeFrom }} </strong> </span>
      <span class="spacer"></span>
      <span><strong> Godzina zakończenia {{reservationModel.timeTo }} </strong> </span>
      <span class="spacer"></span>
      <span><strong> Status {{reservationModel.status | transformReservationStatus}} </strong> </span>
    </div>
  </div>

  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="reservationInformationFormGroup">
      <form *ngIf="reservationInformationFormGroup" [formGroup]="reservationInformationFormGroup">
        <ng-template matStepLabel>Uzupełnij dane</ng-template>
        <mat-form-field class="reservation-form-input display-inline">
          <mat-label>Imię</mat-label>
          <input matInput placeholder="Imię" [formControlName]="reservationControlNames.FIRST_NAME" required>
        </mat-form-field>
        <mat-form-field class="reservation-form-input display-inline">
          <mat-label>Nazwisko</mat-label>
          <input matInput placeholder="Nazwisko" [formControlName]="reservationControlNames.LAST_NAME" required>
        </mat-form-field>
        <mat-form-field class="reservation-form-input display-inline">
          <mat-label>Numer telefonu</mat-label>
          <input matInput placeholder="Numer telefonu" [formControlName]="reservationControlNames.PHONE_NUMBER" required>
        </mat-form-field>
        <mat-form-field class="reservation-form-input display-inline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" [formControlName]="reservationControlNames.EMAIL">
        </mat-form-field>
        <mat-form-field class="reservation-form-textarea">
          <mat-label>Komentarz do wizyty</mat-label>
          <textarea matInput placeholder="Komentarz do wizyty" [formControlName]="reservationControlNames.COMMENT"></textarea>
        </mat-form-field>
      </form>
      <div>
        <button mat-raised-button color="primary" class="form-button" (click)="onBack()">Powrót</button>
        <button mat-raised-button color="primary" class="form-button float-right" matStepperNext (click)="onResultScreen()" [disabled]="reservationInformationFormGroup.invalid">Dalej</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="resultInformationFormGroup" label="Sprawdz czy dane są poprawne">
      <form [formGroup]="resultInformationFormGroup" *ngIf="resultInformationFormGroup">
        <form *ngIf="resultInformationFormGroup" [formGroup]="resultInformationFormGroup">
          <ng-template matStepLabel>Sprawdz czy dane są poprawne</ng-template>
          <mat-form-field class="reservation-form-input display-inline">
            <mat-label>Imię</mat-label>
            <input matInput placeholder="Imię" [formControlName]="reservationControlNames.FIRST_NAME" required>
          </mat-form-field>
          <mat-form-field class="reservation-form-input display-inline">
            <mat-label>Nazwisko</mat-label>
            <input matInput placeholder="Nazwisko" [formControlName]="reservationControlNames.LAST_NAME" required>
          </mat-form-field>
          <mat-form-field class="reservation-form-input display-inline">
            <mat-label>Numer telefonu</mat-label>
            <input matInput placeholder="Numer telefonu" [formControlName]="reservationControlNames.PHONE_NUMBER" required>
          </mat-form-field>
          <mat-form-field class="reservation-form-input display-inline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" [formControlName]="reservationControlNames.EMAIL">
          </mat-form-field>
          <mat-form-field class="reservation-form-textarea">
            <mat-label>Komentarz do wizyty</mat-label>
            <textarea matInput placeholder="Komentarz do wizyty" [formControlName]="reservationControlNames.COMMENT"></textarea>
          </mat-form-field>
        </form>
        <div>
          <button mat-raised-button color="primary" class="form-button" matStepperPrevious>Powrót</button>
          <button mat-raised-button color="primary" class="form-button float-right" matStepperNext (click)="makeReservation()" [disabled]="reservationInformationFormGroup.invalid">Rezerwuj</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Gotowe</ng-template>

      <div class="successfullyReserved">
        <h3>Zarezerwowano wizyte!</h3>
      </div>
      <div class="summary-info">
        <div class="position-left">Data:</div><div class="position-right">{{reservationModel.date  | date: 'shortDate'}}</div>
        <div class="position-left">Godzina od:</div><div class="position-right">{{reservationModel.timeFrom}}</div>
        <div class="position-left">Godzina do:</div><div class="position-right">{{reservationModel.timeTo}}</div>
        <div class="position-left">Komentarz:</div><div class="position-right">{{reservationModel.comment}}</div>
        <div class="position-left">Imie:</div><div class="position-right">{{reservationModel?.personalData?.firstName}}</div>
        <div class="position-left">Nazwisko:</div><div class="position-right">{{reservationModel?.personalData?.lastName}}</div>
        <div class="position-left">Telefon kontaktowy:</div><div class="position-right">{{reservationModel?.personalData?.phoneNumber}}</div>
        <div class="position-left">Email:</div><div class="position-right">{{reservationModel?.personalData?.contactEmail}}</div>
      </div>
      <div>
        <button mat-raised-button color="primary" class="form-button" (click)="onBack()">Powrót</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</div>
