<div *ngIf="data" class="content">
  <h1 mat-dialog-title>Dane rezerwującego:</h1>
  <div mat-dialog-content>
    <p><mat-label> Imię: </mat-label> <strong> {{data?.firstName}} </strong></p>
    <p><mat-label> Nazwisko: </mat-label> <strong> {{data?.lastName}} </strong></p>
    <p><mat-label> Telefon kontaktowy: </mat-label> <strong> {{data?.phoneNumber}} </strong></p>
    <p *ngIf="data.contactEmail"><mat-label> Email: </mat-label> <strong> {{data?.contactEmail}} </strong></p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Ok</button>
  </div>
</div>
