.container {
  display: inline-block;
  padding: 0px 20px 0px 20px;
}

.container-right {
  display: inline-block;
  padding: 0px 50px 0px 50px;
  width: max-content;
  min-width: 60%;
  position: absolute;
  right: 0px;
}

.reservationForm {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.mat-tab-group {
  max-width: 350px;
}

.reservationForm {
  margin: 20px;
  align-items: center;
}
