.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 700px;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-top: 10px;
}

.mat-card-content {
  max-width: 300px !important;
  padding: 40px 40px;
}

.mat-card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 4px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.full-width {
  width: 100%;
}

.alert-danger {
  background-color: #902c2b;
}

.alert-success {
  background-color: #4e905f;
}

.alert{
  width: 300px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  text-align: center;
}

