<div class="content">
  <h1 mat-dialog-title style="text-align: center">Szczegóły z odbytej wizyty</h1>
  <div mat-dialog-content>
    <div *ngIf="data.personalData" class="personal-data">
      <div class="position-left"> Imię: </div> <div class="position-right"> <strong> {{data.personalData?.firstName}} </strong></div>
      <div class="position-left"> Nazwisko: </div> <div class="position-right"> <strong> {{data.personalData?.lastName}} </strong></div>
      <div class="position-left"> Telefon kontaktowy: </div> <div class="position-right"> <strong> {{data.personalData?.phoneNumber}} </strong></div>
      <div class="position-left" *ngIf="data.personalData?.contactEmail"> Email: </div> <div class="position-right"> <strong> {{data.personalData?.contactEmail}} </strong></div>
    </div>
    <div *ngIf="data.visitDetails" class="visit-details">
      <div class="position-left"> Notatka dotycząca wizyty </div> <div class="position-right"> <strong> {{data.visitDetails.note}} </strong></div>
      <div class="position-left"> Cena wizyty </div> <div class="position-right"> <strong> {{data.visitDetails.cost | currencyPln}} </strong></div>
    </div>
    <div class="position-left" *ngIf="data.comment"> Komentarz od rezerwującego </div> <div class="data"> <strong> {{data.comment}} </strong></div>
    <div class="position-left"> Data </div> <div class="position-right"> <strong> {{data.date | date:  'shortDate'}} </strong></div>
    <div class="position-left"> Czas rozpoczęcia </div> <div class="position-right"> <strong> {{data.timeFrom}} </strong></div>
    <div class="position-left"> Czas zakończenia </div> <div class="position-right"> <strong> {{data.timeTo}} </strong></div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" class="display-center">OK</button>
  </div>
</div>
