<div class="content" role="main">

  <div class="container" *ngIf="loggedUserModel; else loggedOut">
    <mat-card>
      <mat-card-content>
        <div class="profile-column">
          <img mat-card-lg-image
               id="profile-img"
               src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
               class="profile-img-card"
          />
          <div class="personal-data-column">
            <div class="position-left"> Imię:</div>
            <div class="position-right">{{userModel?.personalData?.firstName}}</div>
            <div class="position-left"> Nazwisko:</div>
            <div class="position-right">{{userModel?.personalData?.lastName}}</div>
            <div class="position-left"> Numer telefonu:</div>
            <div class="position-right">{{userModel?.personalData?.phoneNumber}}</div>
            <div class="position-left"> Email kontaktowy:</div>
            <div class="position-right">{{userModel?.personalData?.contactEmail}}</div>
          </div>
          <mat-icon class="clickable-icon" (click)="openEditPersonalDataDialog()">edit</mat-icon>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
  <ng-template #loggedOut>
    Please login.
  </ng-template>
</div>
