<form class = "reservationForm" [formGroup]="searchFormGroup">
  <mat-icon class="clickable-icon" (click)="previous()">keyboard_arrow_left</mat-icon>
  <mat-form-field appearance="fill">
    <mat-label>Wprowadź zakres dat</mat-label>
    <mat-date-range-input [formGroup]="searchFormGroup" [disabled]="true">
      <input matStartDate formControlName="dateFrom" placeholder="Data od">
      <input matEndDate formControlName="dateTo" placeholder="Data do">
    </mat-date-range-input>
  </mat-form-field>
  <mat-icon class="clickable-icon" (click)="next()">keyboard_arrow_right</mat-icon>
</form>

<app-reservation-table *ngIf="reservationList" [reservations]="reservationList"></app-reservation-table>
