<div class="content" role="main">

  <mat-tab-group *ngIf="isUserLogged" mat-align-tabs="center" animationDuration="0ms" [selectedIndex]="selectedTab.value"
                 (selectedIndexChange)="selectedTab.setValue($event)">
    <mat-tab label="Rezerwuj wizyte">
      <app-reservation-search></app-reservation-search>
    </mat-tab>
    <mat-tab label="Przeglądaj Twoje wizyty">
      <app-own-reservations-overview></app-own-reservations-overview>
    </mat-tab>
  </mat-tab-group>

  <div *ngIf="!isUserLogged" class="no-logged-users">
    <app-reservation-search></app-reservation-search>
  </div>
</div>










<!--

  <h1>Reservation page body</h1>

  <mat-form-field appearance="fill">
    <mat-label>Wprowadź zakres dat</mat-label>
    <mat-date-range-input [formGroup]="formGroup" [rangePicker]="picker">
      <input matStartDate formControlName="startDate" placeholder="Data od">
      <input matEndDate formControlName="endDate" placeholder="Data do">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="formGroup.controls.startDate.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="formGroup.controls.endDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>

  <p>Selected range: {{formGroup.value | json}}</p>

  <mat-date-range-picker #picker></mat-date-range-picker>
  <button class="card card-small" (click)="searchReservations()">Szukaj terminu</button>

</div>
-->
