<div class="reservationColumn" *ngFor="let date of listOfDates;">
  <app-reservation-col [reservationByDate]="resolveReservationsByDate(date)"
                       [accessToRemove]="accessToRemove"
                       [accessToDetails]="accessToDetails"
                       [accessToReservation]="accessToReservation"
                       [accessToContactInfo]="accessToContactInfo"
                       (onDeleteItem)="emitEventOnDeleteItem()"
                       (onDetailsClick)="emitEventOnDetailClick($event)"
                       (onReservationClick)="emitEventOnReservationClicked($event)"
  ></app-reservation-col>
</div>
